###########################################################
###################### General Setup ######################
###########################################################

# Rinvex:
# docker-compose up -d redis mysql mariadb portainer workspace php-fpm nginx

# Paths
WEB_DATA_PATH=../

# Orbstack Local Domains
LOCAL_DOMAINS=phpmyadmin.local,portainer.local,grafana.local,prometheus.local,*.rinvex.local,*.tenant.local,*.dev.local

# Drivers
NETWORKS_DRIVER=bridge

# Docker compose config

# Which docker-compose files to include.
# If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names. This is useful if you have multiple projects that use punnet to have seperate containers per project.
COMPOSE_PROJECT_NAME=punnet


###########################################################
################ Containers Customization #################
###########################################################

# GLOBAL
TZ=UTC

# WORKSPACE
NODE_VERSION=stable

# NGINX
NGINX_VERSION=alpine
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_LOG_PATH=./.logs/nginx/
NGINX_CONFIG_PATH=./.config/nginx/
PHP_UPSTREAM_CONTAINER=php-fpm
PHP_UPSTREAM_PORT=9000

# PHP
PHP_VERSION=8.3-fpm
PHP_CONFIG_PATH=./.config/php/

# MYSQL
MYSQL_VERSION=latest
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_DATA_PATH=./.data/mysql
MYSQL_ENTRYPOINT_INITDB=./.stubs/mysql/docker-entrypoint-initdb.d

# MARIADB
MARIADB_VERSION=latest
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root
MARIA_DATA_PATH=./.data/maria
MARIADB_ENTRYPOINT_INITDB=./.stubs/mysql/docker-entrypoint-initdb.d

# REDIS
REDIS_VERSION=alpine
REDIS_PORT=6379
REDIS_DATA_PATH=./.data/redis

# PORTAINER
PORTAINER_VERSION=latest
PORTAINER_DATA_PATH=./.data/portainer

# PROMETHEUS
PROMETHEUS_VERSION=latest
PROMETHEUS_PORT=9090
PROMETHEUS_DATA_PATH=./.data/prometheus
PROMETHEUS_CONFIG_PATH=./.config/prometheus/

# GRAFANA
GRAFANA_VERSION=latest
GRAFANA_PORT=3000
GRAFANA_DATA_PATH=./.data/grafana/
