# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"
collation-server=utf8mb4_unicode_ci
character-set-server=utf8mb4

default_authentication_plugin=mysql_native_password
lower_case_table_names=2
